$cor-padrao: #fafafa;
$font-padrao: Helvetica, sans-serif;
.estilo1 {
   background-color: $cor-padrao;
   font: $font-padrao
}
.estilo3 {
   color: $cor-padrao
}
.estilo4 {
   background-color: $cor-padrao;
   font: $font-padrao;
}
.estilo8 {
   background-color: $cor-padrao;
   font: $font-padrao;
}